---
import WorkItem from "./WorkItem.astro"
import { works } from "../../../data/works"
---

<ul class="grid grid-cols-1 mt-12 text-center sm:mt-16 gap-x-20 gap-y-12 sm:grid-cols-2 lg:grid-cols-3">
    {
        works.map(({id, image, category, name, description, url}) => {
            return (
                <li>
                    <WorkItem id={id} image={image} category={category} name={name} description={description} url={url} />
                </li>
            );
        })
    }
</ul>